/* This main css file contains the default rules and is geared toward the small/phone view */

/*-----header here-----*/

header {
    padding: .5em 2%;
    background-color: #ddd;
}
header h1 {
    margin:0;
    font-family: 'Fjalla One', sans-serif;
}
header h2 {
    margin: 0;
    font-weight: normal;
    font-family: 'Neuton', serif;
}
header img {
    float:left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-left:2%;
       
}

 /* This wildcard applies to all elements ensuring a box layout model */

* { box-sizing: border-box;
    margin: 10;
}

/*-----NAVIGATION-----*/

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border:none;
    font-size: 1.6rem;
    color:#555;
}

nav{
    background-color: gray;
    font-family: Verdana, sans-serif;
   
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ut li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    
}

nav ul li.active a{background-color: rgba(0,0,0,0.2); color: #fff;}

nav ul li a:hover{background-color: rgba(0,0,0,0.4); }

nav ul.hide{display:none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/*-----BODY-----*/
body {
  align-content: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
    /* Declare the base font-family */
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}



header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width:100%; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

table{
    margin: auto;
}

.img2 {
    display: block;
    float: right;
    width: 25%;  
}

th, td{
    border: 1px solid black;
    text-align: center;
    padding: 0.5em;
    margin-left: 0%;
}


th{
    background-color: lightblue;
}

td{
    
}

h3 {
    text-align: center;
    padding: 10px
}

.sum-td{
    background-color: lightblue;
    
}
.summary{
    display: block; 
   
}
.forecast {
    text-align: center;
}

/*-----MAIN-----*/
main {
    padding: 0;
    min-height: 10rem;
}
main h2 {}
main figure.firstphoto{width: 100%; margin:0}
main figure.firstphoto img{width: 100%;}
main figure.img2 { 
    width:50%; 
    margin: 0 0 0 2%;
    float: right;
}
main figure.img2 img {
    width: 100%;    
}



/*-----FOOTER-----*/
footer {
    text-align: center;
    color: white;
}
.contact{
    background-color: gray;
    padding: 10px;
}

.footer-bar{
    background-color: gray;
    padding: 10px;
}

/*-----Clearfix-----*/
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}