thead, tfoot{
    background-color: #7fb9c2;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

table{
    box-shadow: 10px 10px 5px grey;
    margin-left: 10em;
    font-family: Ubuntu, sans-serif;
}

thead{
    font-size: 25px;
}

tbody> :first-child{
    background-color: #628ca6;
    color: white;
}

tbody{
    background-color: #e7ffed;
}

tbody#t01 tr:nth-child(even) {
    background-color: #e7f0ed;
}

tfoot{
    font-size: 10px;
}

#special{
    background-color: #628ca6;
    color: white;
}