@media only screen and (min-width: 64em ) {
    
  
  }
.nav {
   background-color: gray;
}

nav button {}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    background-color: ;
    text-align: center;
    
}
li {
   display: inline;
}

